*{
    margin: 0;
    padding: 0;
}
.body{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
         height:70vh;
         width:50vw;
         background-color: rgb(12, 88, 150);
         /* border:4px solid green; */
}
.cont .header{
   
    height:14%;
    width:100%;
    border: 2px solid skyblue;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    height:86%;
    width:100%;
    /* border:1px solid black; */
}
.sidebar{
    height:100%;
    width:20%;
    display: flex;
    flex-direction: column;
    border:2px solid skyblue;
    background-color: white;   
}
.sidebar, h4{
    text-align: center;
}

.contact_details{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid skyblue;
    justify-content: center;
    align-items: center;
}
.contact_details .btn{
    width:50%;
    background-color: lightgray;
    color:black;
    border:2px solid black;
    
}
hr{
    margin: 1rem 0;
    color: inherit;
    border: 26;
    border-top: 3px solid;
    opacity: 1;
}
.innerdiv{
          height:20%;
          width:60%;
          display: flex;
          background-color: rgb(199, 197, 197);
          margin-top: 8rem;
          border:2px solid black;
          border-radius: .3rem;

}
.cancle_btn:hover{
    cursor: pointer;
    
}
.table_data{
    height:100%;
    width:80%;
    background-color: rgb(127, 234, 204);
    overflow: auto;
    border: 2px solid skyblue;

}